
.course-landing
    margin: 10px auto
    background-color: #202020
    color: white
    line-height: 1
    padding: 20px
    a
        color: #d662d8 !important
    .breadcrumb
        margin: 0
        li.active
            color: #d662d8 !important
            text-decoration: none

.course-title
    font-weight: bold
.course-headline
    font-weight: lighter

.course-landing-video
    width: 100%
    height: 0
    padding-top: 56.25%
    position: relative
    margin-bottom: 30px

    .course-landing-video-iframe
        width: 100%
        height: 100%
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
    
