
.course-landing
    margin: 10px auto
    background-color: #202020
    color: white
    line-height: 1
    padding: 20px
    a
        color: #d662d8 !important
    .breadcrumb
        margin: 0
        li.active
            color: #d662d8 !important
            text-decoration: none

    .buy-btns
        display: flex
        flex-flow: row nowrap
        justify-content: space-around
        margin: 20px 0
        .add-to-cart-btn
            color: white
            background-color: #a435f0
            border-color: white
            width: 48%
            height: 50px
            margin-right: 6%
        .buy-now-btn
            color: black
            border-color: white
            background-color: white
            width: 48%
            height: 50px

    .share-gift-coupons
        display: flex
        flex-flow: row nowrap
        justify-content: space-around

.course-title
    font-weight: bold
.course-headline
    font-weight: lighter

.course-landing-video
    width: 100%
    height: 0
    padding-top: 56.25%
    position: relative
    margin-bottom: 30px

    .course-landing-video-iframe
        width: 100%
        height: 100%
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
    
